@model List<WebAppStore.ViewModels.LaptopViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}

<div class="col-lg-12 mt-sm-30 mt-xs-30 mt-3">

    


    <div class="card">
        <div class="card-body">
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Laptop" class="btn btn-primary" asp-action="Create">Create New</a>
            }
            <div class="d-sm-flex justify-content-between align-items-center mt-4">
                <h4 class="header-title">Laptop List</h4>


            </div>
            <div class="trad-history mt-4">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="buy_order" role="tabpanel">
                        <div class="table-responsive">
                            @if (Model != null || Model.Any())
                            {
                                <table class="table table-bordered">
                                    <tr class="heading-td">
                                        <th>ID</th>
                                        <th>Model</th>
                                        <th>Processor</th>
                                        <th>Brand</th>

                                    </tr>
                                    @for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>@Model[i].Id</td>
                                            <td>@Model[i].ModelNumber</td>
                                            <td>@Model[i].Processor</td>
                                            <td>@Model[i].BrandName</td>
                                            <td>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

